#document {
  .description {
    justify-content: center;
  }

  .content {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem 1.5rem;
  }

  object {
    width: 100%;
    height: 75vh;
  }

  .actions {
    justify-content: space-evenly;
  }
}
