.title.has-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

hr.is-divider {
  margin-top: 0;
  margin-bottom: 1em;
  border-bottom: 1px solid $white-ter;
}

.contents {
  display: contents;
}
