.dropdown.is-fullwidth, .dropdown.is-fullwidth,
.dropdown.is-fullwidth .dropdown-menu,
.dropdown.is-fullwidth .dropdown-menu .dropdown-content,
.dropdown.is-fullwidth .dropdown-trigger,
.dropdown.is-fullwidth .dropdown-trigger > button,
.dropdown.is-fullwidth .dropdown-trigger > button > span {
  width: 100%;
}

.dropdown.is-select .dropdown-trigger button {
  text-align: left;
}

.dropdown .dropdown-content .is-scrollable-select {
  max-height: 30rem;
  overflow-y: auto;
}
