.file {
  .icon {
    align-self: center;
    margin-left: 12px;

    opacity: 0;
    transition: opacity $transitionDurationLong ease-in-out;
  }

  &.has-file-attached {
    .icon {
      opacity: 1;
    }
  }
}
