<div id="document" class="columns">
  <div class="column is-two-thirds">
    <div class="box has-equal-height">
      <object data="<%= object_url_for @document.original_file %>" type="application/pdf" class="file-preview">
        <p>
          This browser does not support embedding PDF files.
          <%= link_to 'Click to download', @document.original_file, target: '_blank' %>.
        </p>
      </object>
    </div>
  </div>

  <div class="column is-one-third">
    <div class="box has-equal-height">
      <div class="content">
        <%= render 'form', document: @document %>
      </div>
    </div>
  </div>
