<div class="file-drop-overlay has-background-black-ter is-flex is-centered">
  <div class="drop-message has-text-light is-flex is-centered">
    <p class="is-size-4 has-text-centered">
      Drop file here to upload.
    </p>
  </div>
</div>

<h1 class="title is-1">New Document</h1>

<%= render 'form', document: @document %>
