<p>
  <strong>ID:</strong>
  <code><%= @api_key.id %></code>
</p>

<p>
  <strong>Description:</strong>
  <%= @api_key.description %>
</p>

<p>
  <strong>Secret:</strong>
  It's impossible to retrieve the API key secret after creation. Please create a new API key if you lost the secret.
</p>

<%= link_to 'Edit', edit_api_key_path(@api_key) %>
