.title.has-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.table {
  .actions {
    @extend .has-text-centered;
    width: 150px;
  }
}

.file {
  .icon {
    align-self: center;
    margin-left: 12px;

    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  &.has-file-attached {
    .icon {
      opacity: 1;
    }
  }
}


.file-drop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;

  &.show {
    visibility: visible;
    opacity: 0.6;
  }

  .drop-message {
    border: 2px dashed whitesmoke;
    border-radius: 12px;

    padding: 2rem;

    height: 300px;
    width: 300px;
  }
}


.field.is-date-select {
  .control {
    select {
      width: 100%;
      height: 2.25em;
      font-size: 1em;
      color: #363636;
      background-color: white;
      border-color: #dbdbdb;
      border-radius: 4px;
      cursor: pointer;
      outline: none;

      &:first-child {
        margin-right: 0.25rem;
      }

      &:last-child {
        margin-left: 0.25rem;
      }

      &:not(:first-child):not(:last-child) {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
      }
    }
  }
}

.notification {
  position: fixed;
  right: 20px;
  bottom: -100px;
  z-index: 99;

  animation-duration: 4s;
  animation-name: notice-slideup;

  &.is-not-closable {
    padding-right: 1.5rem;
  }
}

@keyframes notice-slideup {
  0% {
    bottom: -100px;
    opacity: 0;
  }

  10% {
    bottom: 40px;
    opacity: 1;
  }

  90% {
    bottom: 40px;
    opacity: 1;
  }

  100% {
    bottom: -100px;
    opacity: 0;
  }
}

.box {
  &.has-equal-height {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
